###################################################
## School: University of Massachusetts Dartmouth
## Department: Computer and Electrical Engineering
## Engineer: Daniel Noyes
## 
## Create Date:    SPRING 2015
## Module Name:    VGA Color User Constraint File
## Project Name:   VGA Color
## Target Devices: Spartan-3E
## Tool versions:  Xilinx ISE 14.7
## Description:
##    Nexys 2 Pin Assignments
##    
###################################################

#50MHz period constant
NET "CLK" PERIOD = 20.0ns HIGH 50%;
#Clock Assignment
NET "CLK" LOC = B8 | IOSTANDARD = LVTTL;